@import "tailwindcss";

:root {
  color-scheme: dark;
  --background: #09090b;
  --foreground: #f4f4f5;
}

select {
  color-scheme: dark;
}

select option {
  background-color: #18181b !important;
  color: #f4f4f5 !important;
}

body {
  background: #09090b;
  color: #f4f4f5;
  font-family: Arial, Helvetica, sans-serif;
}
